body
  margin: 0px

///grid settings:
$column: 10%
$gutter: 2%


.container
  height: 100%
  width: $column * 8
  margin: 0px $column

.one-third
  width: $column * 3.333333 - $gutter * 2
  margin-right: $gutter
  margin-left: $gutter

  height: 100px
  float: left


.block
  height: 100px
  width: 100%

